@media only screen and (max-width: 970px){
  #wrapper{
    width: 100%;
  }
  header nav{
    font-size: 70%;
    width: 100%;
  }
  header nav a{
    padding: 0 3% 0 3%;
  }
}
@media only screen and (max-width: 700px){
  .detail{
    font-size: 10px;
  }
}