@media only screen and (max-width: 970px){
  #wrapper{
    width: 100%;
  }
  header nav{
    font-size: 70%;
    width: 100%;
  }
  header nav a{
    padding: 0 3% 0 3%;
  }
}
@media only screen and (max-width: 700px){
  .detail{
    font-size: 10px;
  }
  .menu-icon{
    display: block;
    float: right;
    width: auto;

  }
  header nav #menu-links{
    display: none;
    clear:both;
  }
  header nav #menu-links a{
    display: block;
    width: 100%;
    clear: both;
    text-align: left;
    border-right: none;
    border-bottom: 1px solid #FFB84D;
    padding: 10px;
  }
}