body{
  margin: 0;
}
#navigation{
  height: 2em;
  background: aqua;
}
#navigation nav ul li{
  display: inline;
  padding: 0 30px;
  font-size: 1.5em;
}
#navigation nav ul{
  text-align: center;
  margin: 0;
}
#navigation nav ul li a{
display: inline-block;
text-decoration: none;
color: black;
}



#place ul{
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia;
  color: red;
  text-align: center;
}
#place ul li{
  display: inline;
  padding: 0 10px;
}
#place ul li a{
  color: black;
  text-decoration: none;
}
#place p{
  width: 20%;
  line-height: 1.5em;
  font-size: 1.3em;
  float: left;
  padding-right: 15px;
  padding-left: 10px;
  margin-right: 10px;
  overflow: auto;
  height: 400px;
  border: 1px solid #F4A460;
   margin-top: 0;
}
#place span{
  color: red;
  font-weight: bold;
}
#place img{
  width: 25%;
  height: 400px;
  float: left;
}
#GreatWall{
  margin-top: 20px;
}
#TheOldSummerPalace{
  margin-top: 20px;
}
#foodSelector{
  float: left;
}
#eatingbar{
  margin: 0 auto;
  width: 900px;
}
#eatingbar ul{
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia;
  color:red ;
}
#eatingbar ul li{
  display: inline;
  padding: 0 10px;
}
#eatingbar ul li a{
  color:  black;
  text-decoration: none;  
}
#wrapper{
  margin-right: 50px;
}
.eatingPicture{
  width: 731px;
  height: 196px;
  border-top: dashed 1px; 
  float:right;
  padding: 26px 42px 0px 0px;

}
.eatingPicture:hover{
  background: #F0FFFF;
}
.eatingPicture h3{
  color: #ff8a00;
  font-weight: normal;
  float: right;
  margin: 0;
  padding: 0;
margin-right: 300px;
}
.eatingPicture p{
  margin-bottom: 0;
  margin-top: 0;
  float: right;
  width: 468px;
  position: relative;
  bottom: 37px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

