@media only screen  and (max-width: 1124px){
   #navigation nav ul{
    padding-left: 0;
    font-size: 70%;
    padding-top: 13px;
   }
   #navigation a{
    padding-top: 1px;
   }

}

@media only screen  and (max-width: 900px){
   #navigation nav ul{
    font-size: 56%;
    padding-top: 13px;
   }
   #navigation a{
    padding-top: 1px;
   }
   #navigation nav ul li{
    padding: 0 9px;
   }
}
@media only screen  and (max-width: 724px){
  #social{
    position: absolute;
    width: auto;
    top:480px;
    left:0;

  }
  #social a{
    display: inline-block;
    text-indent: -100%;
  }
  #userinput {
    width: 88%;
    padding: 17px 4px;
  }
  #userinput form input{
    width: 35%;
    font-size: 0.6em;
    background-size: contain;
  }
  #userinput form button{
    font-size: 1em;
    bottom: -2px;
    height: auto;
  }
}
@media only screen and (max-width: 510px){
  #navigation {
    font-size: 56%;
  }
   #navigation nav ul{
    padding-top: 7px;
   }
}