html, body{
  margin: 0;
  padding:0;
}
#images{
  margin: 0;
}
#images img{
  display: block;
  float: left;
  width: 25%;
  height: 400px;
  padding: 0;

}
#navigation{
  height: 3em;
  margin-bottom: 10px;
  background: aqua;

}
nav {
  text-align: center;
}
ul {
  margin-top: 0;
}
li{
  display: inline;
  padding: 0 30px;
  font-size: 1.5em;
}
a:link{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-top: 8px;
}
a:visited{
  color:#888888;
}
a:hover{
  background: black;
  color: red;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}
a:active{
  text-decoration: underline;
}
#map{
  text-align:center;
}
figcaption{
  margin-bottom: 20px;
}
#userinput{
  margin: auto;
  background: #1E90FF;
  width: 600px;
  border: 1px solid red;
  padding: 20px;
}
#userinput form{
  text-align: center;
}
#userinput form input{
  height: 2em;
  font-size: 1.5em;
}
#userinput form input[name="destination"]{
  background-image: url(images/search.png) ;
  background-repeat: no-repeat;
  background-position: right;
  
}
#userinput button{
  height: 3em;
  background: white;
  position: relative;
  bottom: 5px;
}
footer{
  text-align: center;
  line-height: 0;
  margin-top: 45px
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
