html, body{
  margin: 0;
  padding:0;
}
/*BACK TO TOP ICON*/
#backToTop{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(images/icons/backToTop.png) no-repeat;
  background-position: 0 0;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
}
#backToTop:hover{
  background-position: -50px 0; 
}
/*ENDS*/
/*////SOCIAL /////*/
#social{
  position: fixed;
  right: 0;
  top: 450px;
  z-index: 2;
  width: 40px;
}
#social a{
  display: block;
  width: 40px;
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  background: url(images/social-icons.png) no-repeat; /**/
}
#social a[title='twitter']{
  background-position: 0 -40px; 
}
#social a[title='twitter']:hover{
  background-position:-40px -40px;
  text-decoration: none;
  transform: none; 
}
#social a[title='facebook']{
  background-position: 0 0px; 
}
#social a[title='facebook']:hover{
  background-position:-40px 0px;
  text-decoration: none;
  transform: none; 
}
#social a[title='google plus']{
  background-position: 0 -80px; 
}
#social a[title='google plus']:hover{
  background-position:-80px -80px;
  text-decoration: none;
  transform: none; 
}
/*////SOCIAL////*/
#images{
  margin: 0;
}
.scaleImage{
  overflow: hidden;
  width: 25%;
  float: left;
}
#images img{
  display: block;
  float: left;
  width: 100%;
  height: 400px;
  padding: 0;  
  transition:all 2s;
}
#images img:hover{
  transform: scale(2);
}
#navigation{
  height: 3em;
  margin-bottom: 10px;
  background: aqua;

}
nav {
  text-align: center;
}
#navigation nav ul {
  width:80%;
  padding: 0;
  margin: 0 auto;
}
#navigation nav ul li {
  float:left;
}
/*#navigation nav ul ul*/
#navigation nav ul ul{
  background-color: #B2FFFF;
  opacity: 1;
  position:absolute;
  width:110px;
  z-index:1000;
}
#navigation nav ul ul li{
  border-bottom: 1px solid grey;
  text-align: center;
  display:block;
  float:none;
}
#navigation nav ul ul li.borderBottomNone{
  border-bottom: none;
}
.mainLink{
  width:14%;
  display: inline;
  padding: 0 30px;
  font-size: 1.5em;
}
a{
  display: inline-block;
  text-decoration: none;
  color: black;
  padding-top: 8px;
}
a:visited{
  color:#888;
}
a:hover{
  background: black;
  color: red;
/*  -ms-transform: rotate(20deg); *//* IE 9 */
/*  -webkit-transform: rotate(20deg);*/ /* Safari */
/*  transform: rotate(20deg);*/
}
a:active{
  text-decoration: underline;
}
.nestedList{
  display: none;
}
#map{
  text-align:center;
}
#map img{
  max-width: 100%;
}
figcaption{
  margin-bottom: 20px;
}
#userinput{
  margin: auto;
  background: #1E90FF;
  width: 600px;
  border: 1px solid red;
  padding: 20px;
}
#userinput form{
  text-align: center;
}
#userinput form input{
  height: 2em;
  font-size: 1.5em;
}
#userinput form input[name="destination"]{
  background-image: url(images/search.png) ;
  background-repeat: no-repeat;
  background-position: right;
  
}
#userinput button{
  height: 3em;
  background: white;
  position: relative;
  bottom: 5px;
}
.cityBox{
  width: 100%;
  margin: 0 auto;
  border: 1px solid blue;
}
.cityBox ul{
  font-size: 0.7em;
}
.cityBox ul li{
  margin-bottom: 10px;
  padding: 0 14px;
}
.cityBox ul li input{
  margin-right: 5px;
}
footer{
  clear: both;
  line-height: 0;
  margin-top: 45px;
  text-align: center;
}
.email:hover{
   -ms-transform:none; /* IE 9 */
  -webkit-transform:none; /* Safari */
  transform: none;
  background: none;
  color:blue;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}
