@import url(http://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
.clearfix:after{
  content: '.';
  height: 0px;
  line-height: 0;
  visibility: hidden;
  clear: both;
  display: block;
}
#wrapper{
  width: 960px;
  margin:0 auto;
}
body{
  margin: 0;
}
#navigation{
  height: 2em;
  background: aqua;
}
#navigation nav ul li{
  display: inline;
  padding: 0 18px;
  font-size: 1.5em;
}
#navigation nav ul{
  margin: 0 auto;
}
#navigation nav ul li a{
display: inline-block;
text-decoration: none;
color: black;
}

#navigation nav ul li a:hover{
  background: black;
  color: red;
  -ms-transform: rotate(20deg); /* IE 9 */
  -webkit-transform: rotate(20deg); /* Safari */
  transform: rotate(20deg);
}
#navigation nav ul li a:active{
  text-decoration: underline;
}
header h3{
   font-family: "Elsie Swash Caps", cursive;
   margin-bottom: 3px;
   margin-top: 14px;
}
header img{
  width: 80px;
}
#PictureAndMap img{
width: 500px;
height: 300px;
}
#PictureAndMap iframe{
  float: right;
}
#menuAndHour{
  width: 100%;
}
#menuAndHour h3{
   font-family: "Elsie Swash Caps", cursive;
   margin-top: 0px;
   margin-bottom: 0px;
}

.col-1 {
  width: 18.4%;
  margin-left:2%;
  margin-right: 0;
  float: left;
}
.col-1 figure{
  margin: 0;
}
.col-1 figure img{
  max-width: 100%;
  width: 100%;
}
#menu :first-child{
  margin-left:0;
}
#table{
  width: 100%;
  max-width: 100%;
}
#workHour h4{
  margin-top:0;
  margin-bottom: 4px;
}
.customerInfor {
  width:40%;
  float: left;
}
.customer{
  width: 62px;
  margin: 0;
  padding: 0;
  float:left;
}
.customer img{
  width: 60px;
  height: 60px;
}
.nameAndPlace{
  float: left;
  margin: 0;
  padding: 0;
}
.nameAndPlace ul{
  margin: 0;
  list-style: none;
  font-size: 14px;
  padding-left: 6px;
}
.recommendation{
  float: left;
  width: 60%;
}
.recommendation img{
  width: 80px;
}
.recommendation p{
   margin-top: 3px;
}